body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Shadows Into Light', cursive;
    color: rgb(0, 152, 163);
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.multiple-choice {
    cursor: pointer;
    padding: 10px;
}

.multiple-choice:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 152, 163, 0.658); 
    border-radius: 10px;
}

#title-text {
   font-size: 5rem;
   font-weight: bolder;
   margin-top: -3rem;
}

#start-button {
    margin-top: 3rem;
}

#cromulon-image {
    margin-top: -6rem;
}

#cromulon-image > img {
    margin-right: 3rem;
    margin-top: 2rem;
}

#cromulon-text {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
    background-color: rgba(245, 245, 245, 0.445);
    border-radius: 10px;
    width: auto;
}

/* #cromulon {
    max-width: 50%;
} */

#timer {
    margin: 1.5rem;
    font-size: 2rem;
}

#question {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

#answer-gif {
    padding: 1.5rem;
}



#correct-answers, #wrong-answers, #unanswered-answers {
    font-size: 2rem;
}

#restart-button {
    margin: 3rem;
}

@media only screen and (max-width: 800px) {
    #cromulon {
        max-width: 50%;
    }

    #cromulon-image {
        margin-top: 0rem;
    }

    #cromulon-text {
        background-color: transparent;
    }

    #answers {
        background-color: rgba(245, 245, 245, 0.781);
        border-radius: 10px;
    }
}